.video-container {
  width: 80vw;
  height: 45vw;
  position: relative;
}

.videoLayer,
.video-js,
video,
#my-unique-id {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  object-fit: cover !important;
  left: 0 !important;
  z-index: 0 !important;
}

.vjs-big-play-button {
  top: 50% !important;
  margin-left: 50% !important;
  z-index: 11 !important;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .interaction {
  z-index: 10;
  position: relative;
  text-align: left;
  padding: 10px;
  height: calc(100% - 64px);
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  align-content: space-between;
  /* align-items: flex-end; */
}

.video-container .interaction-jw {
  z-index: 10;
  position: relative;
  text-align: left;
  padding: 10px;
  height: calc(100% - 104px);
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  align-content: space-between;
  /* align-items: flex-end; */
}

.card-container {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: end;
  justify-items: flex-end;
  grid-gap: 8px;
  margin-bottom: 32px;
  height: 80px;
  width: 100%;
}

.image img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.image-active img {
  height: 70px;
  width: 70px;
}

.image-active {
  animation: border 0.4s ease 1 forwards;
}

.details {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 0px;
  font-size: 12px;
  line-height: 14px;
  padding: 8px;
  text-align: right;
}
.action {
  padding: 16px;
}

.name {
  font-weight: 700;
}
.type {
  font-size: 12px;
}
.price {
  font-weight: 800;
}

.interaction-layer-top {
  display: grid;
  grid-template-columns: auto 50px;
  justify-content: space-between;
}

.video-details {
  display: grid;
  grid-template-columns: 60px auto;
  grid-gap: 16px;

  align-items: center;
  margin: 16px;
}

.video-details img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.creator-details {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1px;
}
.creator-details div {
  margin: 4px 0;
}
.creator-details span {
  margin: 0px 16px 0 0;
}

.video-actions {
  display: grid;
  grid-template-rows: 50px;
  padding: 32px 0;
  grid-gap: 16px;
}

.card {
  display: grid;
  grid-template-columns: 50px 200px 80px;
  background-color: #00000070;
  border-radius: 40px;
  align-items: center;
  margin: 16px auto;
  animation: imganim 1s linear both;
}

@keyframes imganim {
  0% {
    transform: translateX(100px) translateY(-50px) rotateZ(20deg);
    animation-timing-function: ease-in-out;
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: translateX(0px) translateY(0px) rotateZ(0deg);
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
}
@media only screen and (max-width: 1024px) {
  .video-container {
    width: 100vw;
    height: 65vw;
    position: relative;
  }

  .card-container {
    justify-content: center;
    grid-gap: 0px;
    margin-bottom: 0px;
  }
  .card {
    background-color: #00000070;
    margin: 0px auto;
    height: 80px;
  }
}

@media only screen and (max-width: 600px) {
  .video-container {
    width: 100vw;
    height: 80vh;
    position: relative;
  }

  .interaction-layer-top {
    grid-template-columns: auto 30px;
    grid-gap: 8px;
  }

  .card-container {
    justify-content: center;
    grid-gap: 0px;
    margin-bottom: 0px;
  }
  .card {
    background-color: #00000070;
    grid-template-columns: 50px 150px 80px;
    margin: 0px auto;
    height: 80px;
  }
  .stats {
    font-size: 8px;
    line-height: 14px;
    letter-spacing: 0.1px;
  }
  .creator-details span {
    margin: 0px 8px 0 0;
  }
}
